#main {
	padding: 0;
}

#header {
	
}

#intro {
	background-color: red;
	height: 100%;
	width: 100%;
	margin: 0;
}

#sign-up {
	display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}

#desc {
	background-color: white;
	text-align: center;
	font-size: 1.4em;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#desc-text {
	
}

#trending {
	background-color: yellow;
	height: 100%;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	margin: 0;
}

#footer {
	background-color: black;
	height: 100%;
	width: 100%;
	padding-top: 1%;
	margin: 0;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#search {
	text-align: center;
}

#trending-public {
	margin-top: 1%;
}

.checkbox, .radio {
	margin-left: 8%;
}

nav {
	padding-left: 0.5%;
}

#footer-text {
	text-align: center;
}